nav{
  background-color: black;
  padding: 11px;
}
ul{
  display: flex;
  justify-content: space-around;

}
ul li a{
  color: white;
  font-size: 28px;
  text-decoration: none;
  margin-inline: 22px;
}
.active {
  background-color: #349eff;
}
.nested{
  background-color: plum;
  padding: 11px;
}
